[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
sqlalchemy = "*"
python-dotenv = "*"
psycopg2-binary = "*"
scrapy-rotating-proxies = "*"
fake-useragent = "*"
scrapy-dot-items = "*"
inflection = "*"
# scrapy-playwright = "*"
# playwright = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
